/* Bouton */
.button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button.delete {
    background-color: #ff4d4d;
}

.button.delete:hover {
    background-color: #e03e3e;
}

/* Table */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f9f9f9;
}

/* Conteneur de filtre */
.filter-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 10px;
}

/* Corps */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}
